<head>
  <title>Calendario</title>
</head>
<body>

</body>

<template name="calendary">
  <button class="left inputText">Regresar</button>
  <div class="row">
    <h2>Apartar fechas</h2>
    <div class="col-md-10"> {{> calendar }} </div>
      <!-- <h2>Alta de evento</h2>
      <p>Nombre</p>
      <input id="name" type="text" value="{{name}}" > -->
      <!-- <p>Telefono</p>
      <input type="text">
      <p>Mail</p>
      <input type="text">
      <p>Tipo de evento</p>
      <input type="text">
      <p>Fecha de evento</p>
      <input type="text">
      <p>Hora</p>
      <input type="text">
      <p>Lugar</p>
      <input type="text">
      <p>Cant. invitados</p>
      <input type="text"> -->
      <!-- <button id="save">Guardar</button> -->
  </div>
</template>

<template name="separate">
  <div class="container">
    <h1>Formato de separado</h1>
  </div>
</template>

<template name="main">
  <div class="container">
    <h1>Organizador de eventos</h1>
    <button class="btn btn-primary calendar">Calendar</button>
    <button class="btn btn-primary separate">Formato de Separado</button>
    <button class="btn btn-primary providers">Proveedores</button>
  </div>

</template>
