<template name="main">
  <button class="salir left mainMenu inputText">Salir</button>

  <div class="container">
    <h1>Organizador de eventos</h1>
    <button class="btn btn-primary calendar">Apartar fechas</button>
    <button class="btn btn-primary separate">Formato de Separado</button>
    <button class="btn btn-primary providers">Proveedores</button>
    <button class="btn btn-primary client">Cliente</button>
  </div>
  <br>

  <div class="blur pic">
    <img style="border-radius: 25px;" src="http://www.danzalagua.com/salon-de-fiestas/images/stories/salon/mesa%20arquis.jpg" alt="">
  </div>

</template>
