<template name="providers">
  <button class="left mainMenu inputText">Regresar</button>
  <div class="container">
    <h1>Proveedores</h1>
    <br>
    <table class="table table-striped">
      <tr>
        <td><h4>Nombre</h4></td>
        <td><h4>Empresa</h4></td>
        <td><h4>Giro</h4></td>
        <td><h3></h3></td>
      </tr>
      {{#each providers}}
        <tr>
          <td>{{name}}</td>
          <td>{{work}}</td>
          <td>{{giro}}</td>
          <td><button class="delete inputText">Delete</button></td>
        </tr>
      {{/each}}
    </table>

      <input type="text" class="inputText" id="fullNameId" placeholder="Nombre Completo">
      <input type="text" class="inputText" id="workId" placeholder="Empresa">
      <input type="text" class="inputText" id="giroId" placeholder="Giro">
      <button class="submit inputText">Submit</button>

      <!-- <button class="mainMenu inputText">Regresar</button> -->
  </div>
</template>
